<!DOCTYPE html>
<html ng-app="hangmanApp">

<head>
  <title>Hangman Game</title>
  <meta charset="utf8" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/custom.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="js/hangman.js"></script>
  <script src="js/app.js"></script>
</head>

<body class="full-background">
<div class='container' id="container" ng-controller="HangmanController as hangman">
  <div id='poor-soul' class='row'>
    <pre class='col-md-6 col-md-offset-3'>
_________
|/      |                               _
|      (_)       __ _ _ __   __ _ _   _| | __ _ _ __
|      \|/      / _` | '_ \ / _` | | | | |/ _` | '__|
|       |      | (_| | | | | (_| | |_| | | (_| | |
|      / \      \__,_|_| |_|\__, |\__,_|_|\__,_|_|
|                           |___/
|_____________                                        hang-man

    </pre>
    <div ng-if="hangman.game.triesRemaining == 7">
         <pre class='col-md-6 col-md-offset-3'>
         _____
         |/
         |
         |
         |
         |
         |
         |_____________
         </pre>
       </div>

    <div ng-if="hangman.game.triesRemaining == 6">
         <pre class='col-md-6 col-md-offset-3'>
         _________
         |/
         |
         |
         |
         |
         |
         |_____________
         </pre>
       </div>
       <div ng-if="hangman.game.triesRemaining == 5">
         <pre class='col-md-6 col-md-offset-3'>
         _________
         |/      |
         |
         |
         |
         |
         |
         |_____________
         </pre>
       </div>
       <div ng-if="hangman.game.triesRemaining == 4">
         <pre class='col-md-6 col-md-offset-3'>
         _________
         |/      |
         |      (_)
         |
         |
         |
         |
         |_____________
         </pre>
       </div>
       <div ng-if="hangman.game.triesRemaining == 3">
         <pre class='col-md-6 col-md-offset-3'>
         _________
         |/      |
         |      (_)
         |      \|/
         |
         |
         |
         |_____________
         </pre>
       </div>
       <div ng-if="hangman.game.triesRemaining == 2">
         <pre class='col-md-6 col-md-offset-3'>
         _________
         |/      |
         |      (_)
         |      \|/
         |       |
         |
         |
         |_____________
         </pre>
       </div>
       <div ng-if="hangman.game.triesRemaining == 1">
         <pre class='col-md-6 col-md-offset-3'>
         _________
         |/      |
         |      (_)
         |      \|/
         |       |
         |      /
         |
         |_____________
         </pre>
       </div>
       <div ng-if="hangman.game.triesRemaining == 0">
         <pre class='col-md-6 col-md-offset-3'>
         _________
         |/      |
         |      (_)
         |      \|/
         |       |
         |      / \
         |
         |_____________
         YOU DIE!
         </pre>
       </div>
       <div class='row' id='statuses'>
         <div class='col-sm-1 table small-font'>Win status:
           <span class='glyphicon' ng-class="hangman.game.gameWon ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
         </div>


    <div class='col-sm-12 col-md-6 col-md-offset-3 text-center'>
      {{ hangman.game.triesRemaining }} tries remaining
    </div>
  </div>
  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">SOLVING:</span>
    </div>
    <div class='col-sm-12 text-center'>
      <span class='wide'>
{{ hangman.game.displayWord }}
      </span>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">GUESSES: </span>
    </div>
    <!-- <div class='col-sm-12 text-center' id='guesses'>{{ hangman.game.guesses }}</div> -->
    <div class='col-sm-12 text-center' id='guesses'>
      <span class='wide' data-ng-repeat="letter in hangman.game.guesses">
           {{letter}}
         </span>
    </div>
  </div>

  <div class='row'>
    <div class='col-sm-12 text-center'>
      <span class="label label-default">INPUT:</span>
    </div>
    <div class="col-sm-12 text-center">
      <input type='text' size='1' id='guess' ng-model='hangman.game.input' ng-change='hangman.guessLetter()' autofocus>
    </div>
  </div>
  </div>
</div>
</body>
</html>
